.PropertyList {
  display: flex;
  /* flex-wrap: wrap;
  justify-content: space-around; /* Adjusts spacing between items */
  /* align-items: flex-start; Aligns items at the start of the container
  gap: 20px; Spacing between items  */
}

.PropertyListItem {
  padding: 20px;
  width: 200px; /* Adjust width to fit 3 items per row minus gap */
  box-sizing: border-box; /* Includes padding and border in the width calculation */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distributes space between the name, price, and rating */
  align-items: center; /* Center-aligns the contents */
  min-height: 180px; /* Ensures each item has at least this height */
}
